.menu-hidden-overlay{
  opacity: 0 !important;
  display : none !important;
}
.menu.sidenav li>a {
  line-height: normal;
  min-height: 48px;
  align-items: center;
  height: auto;
  display: flex;
}

.menu.sidenav li>a i.fa{
  font-size: 20px;
  text-align: center;
}
.menu-container a {
  text-decoration: none !important;
}
.menu-container ul{
 list-style-type : none !important;
}
.menu-container .menu-float-notfixed {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}
.menu-container .fixed-action-btn.direction-left ul li, .menu-container .fixed-action-btn.direction-right ul li {
    margin: 0px 15px 0 0;
}
.menu-container.menu-Navbar :not(i){
  height: 100% !important;
}
.menu-container.menu-Navbar i{
  margin: auto; !important;
  min-width: 50px;
  text-align: center;
}
.menu-container ul{
  padding: 0!important;
  margin: 0 !important;
  width : 100%;
}
.menu-container.menu-Navbar a{
  transition: background-color .3s;
  padding: 0 15px;
  font-size: 1rem;
}

.menu-container.menu-Navbar a:hover{
  background-color: rgba(100,100,100,0.2);
}

